<template name="landingFooter">
  <!-- template=landingFooter -->
  <footer class="page-footer landing transparent">
    <div class="container">
      <div class="row">
        <div class="col m4 s12 center-align">{{> atNavButton }}</div>
        <div class="col m4 offset-m4 s12 center-align">
          <a class="btn waves-effect btn-large lime-text accent-2-text transparent" href="/sign-up">SIGN UP</a>
        </div>
      </div>
    </div>
  </footer>
</template>

<template name="masterFooter">
  <!-- template=footer -->
  <footer class="master page-footer blue lighten-5 hide-on-small-only">
    <div class="container">
      golfbuddy
    </div>
  </footer>
</template>

