<template name="landingFooter">
  <!-- template=landingFooter -->
  <footer class="landing page-footer transparent">
    <div class="container">
      <div class="row">
        <div class="col m4 s3 center-align">{{> atNavButton }}</div>
        <div class="col m4 s3 center-align">
          <a class="waves-effect waves-light btn btn-flat btn-large lime accent-1" href="/">home</a>
        </div>
        <div class="col m4 s3 offset-s1 center-align">{{> hello}}</div>
      </div>
    </div>
  </footer>
</template>

<template name="footer">
  <!-- template=footer -->
  <footer class="page-footer blue lighten-5 hide-on-small-only">
    <div class="container">
      golfbuddy
    </div>
  </footer>
</template>

