<template name="landingFooter">
  <!-- template=landingFooter -->
  <footer class="landing page-footer">
    <div class="container">
      <div class="row">
        <div class="col m3 s6 offset-m3 center-align">{{> hello}}</div>
        <div class="col m3 s6 center-align">{{> atNavButton }} </div>
      </div>
    </div>
  </footer>
</template>

<template name="footer">
  <!-- template=footer -->
  <footer class="page-footer blue lighten-5 hide-on-small-only">
    <div class="container">
      golfbuddy
    </div>
  </footer>
</template>

