<template name="landingNav">
  <!-- template=landingNav -->
  <header class="landing">
    <nav class="transparent">
      <div class="container">
        <div class="nav-wrapper">
          <a href="{{pathFor 'home'}}" class="brand-logo"><i class="fa fa-lg fa-trophy yellow-text text-accent-4"></i></a>
        </div>
      </div>
    </nav>
  </header>
</template>

<template name="masterNav">
<!-- template=nav -->
  <header class="master">
    <nav class="transparent main-nav">
      <div class="container">
        <div class="nav-wrapper">
          <ul id="nav-mobile" class="right side-nav fixed grey darken-4">
            <li class="nohighlight">
              <a href="{{pathFor 'home'}}" class="center-align"><i class="fa fa-lg fa-trophy yellow-text text-accent-4"></i></a>
            </li>
            <li class="nohighlight center-align"><strong>
            <!-- TODO replace with Slugify helper -->
            <a href="{{pathFor 'user-edit' username=currentUser.username}}">Howdy, {{displayName}}</a></strong>
            </li>
            <li class="waves-effect"><a href="{{pathFor 'home'}}">ScoreBoard</a></li>
            <li class="waves-effect"><a href="{{pathFor 'home'}}">Map</a></li>
            <li class="waves-effect"><a href="{{pathFor 'private'}}">Admin</a></li>
            <li class="hover-red waves-effect">{{> atNavLink class=""}}</li>
          </ul>
          <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu lime-text"></i></a>
        </div>
      </div>
    </nav>
  </header>
</template>
