<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="live golf score-sharing app for groups of golfers">  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- http://blog.teamtreehouse.com/optimizing-mobile-web-apps-ios -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <title>golfbuddy</title>
</head>

<body>
</body>

<template name="landingLayout">
  {{> Template.dynamic template=top}}
  <main class="landing">
    {{> Template.dynamic template=main}}
  </main>
  {{> Template.dynamic template=bottom}}
  {{> bgphoto}}
</template>

<template name="masterLayout">
  {{> Template.dynamic template=top}}  
  
  <main>

  {{#if currentUser}}
    {{> Template.dynamic template=main}}
  {{else}}
    {{#if loggingIn}}
      {{> loading}}
    {{else}}
      {{signInRedirect}}
    {{/if}}
  {{/if}}
  
  </main>
  
  {{> Template.dynamic template=bottom}}
  {{> bgphoto}}
</template>

<template name="bgphoto">
  <!-- Template.bgphoto.rendered -> createBackgroundSVG() -->
</template>