/* CSS declarations go here */
.hero{
  padding-top: 20px;
  padding-bottom: 20px;
}

#atmodal .btn{
  // min-width: 100%; 
  margin-top: 1em;
}

.landing-layout.valign-wrapper {
  height: 100vh;
  .valign {width:100%;}
}

@media only screen and (max-width : 992px) {
  .col {margin-bottom:1em;}
}
// Footer
@footer-height: 70px;

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
  /*background: #FCFCFC url(/imgs/bg.jpg) repeat;*/
  margin: 0px;
  /* Margin bottom by footer height */
  // margin-bottom: @footer-height;
  padding: 0px;
  color: #555555;
  min-width: 320px;
}

// left margin for main content when fixed side nav is open
@media only screen and (min-width: 993px) {
  // #content {
  //   margin-left: 240px;
  // }
  main {
    margin-left: 240px;
  }  
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @footer-height;
  > .content {
    padding-right: 15px;
    padding-left: 15px;
  }
}

header, main, footer {
  padding-left: 240px;
  &.landing {
    padding-left: 0px !important;
    margin-left: 0px !important;

  }
}


@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  body {margin: 0px;}
}

.container {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%; 
}

.landing .container{
  width: 70%;
}

@media only screen and (min-width : 601px) {
  .container {
    width: 99%; }
 }

@media only screen and (min-width : 993px) {
  .container {
    width: 98%; }
 }
