<template name="home">
<!-- dashboard for logged-in users; shows tournament views -->
  <div class="container">
    <div class="row">
      <div class="col s6 lime-text">
        <h4>Current Scores:</h4>
      </div>
      <div class="col s6 right-align">{{> hello}}</div>
    </div>
  </div>
  {{#if game}}
    {{> leaderboard}}
  {{else}}
    <div class="container"><div class="row"><div class="col s6 lime-text">
      <h4>no game in progress - start one!</h4>
    </div></div></div>
  {{/if}}  
  <div class="container">{{> loremcard}}</div>
</template>

<template name="leaderboard">

  <table class="striped grey lighten-4">
    <thead>
      <tr>
        <th data-field="player">Player (handicap)</th>
        <th data-field="hole_9">Hole 9</th>
        <th data-field="hole_8">Hole 8</th>
        <th data-field="hole_7">Hole 7</th>
        <th data-field="hole_6">Hole 6</th>
        <th data-field="hole_5">Hole 5</th>
        <th data-field="hole_4">Hole 4</th>
        <th data-field="hole_3">Hole 3</th>
        <th data-field="hole_2">Hole 2</th>
        <th data-field="hole_1">Hole 1</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>{{currentUser.profile.name}} ({{currentUser.profile.name}})</td>
        {{#each currentUser.profile.scores}}
          <td>{{this}}</td>
        {{/each}}
      </tr>
      
      {{#each players}}
      <tr>
        <td>{{name}} ({{handicap}})</td>
        {{#each scores}}
          <td>{{this}}</td>
        {{/each}}
      </tr>
      {{/each}}
    </tbody>
  </table>

</template>